*{
    cursor: url(../assets/images/cuchillo5.png), auto;
    margin: 0px;
    padding: 0px;
}

*{
    @keyframes pulse {
    0% {
      opacity: 1;
      transform: none;
    }
    50% {
      opacity: .9;
      transform: scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  *{
    .navbar-light .navbar-toggler-icon {
      background-image: url("../assets/images/hamburguesa.png");
  }

  }

  *{
    .navbar-light .navbar-toggler {     
      border-color: #e29300;
      border: solid 2px;
  }
}

}

